.PayContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.PayContainer .CheckoutBox {
  width: 1000rem;
  height: fit-content;
  padding: 10rem 30rem;
  background-color: white;
  margin: 10rem;
}

.PayContainer .CheckoutBox .Heading {
  font-size: 20rem;
  margin: 10rem 0;
}

.PayContainer .CheckoutBox .InputForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5rem 0;
}

.PayContainer .CheckoutBox .InputForm p {
  width: 200rem;
  font-size: 18rem;
}

.PayContainer .CheckoutBox .InputForm input {
  width: 780rem;
  height: 22rem;
  border: 1rem solid #eee;
  border-radius: 5rem;
  font-size: 18rem;
  padding: 6rem 10rem;
}

.PayContainer .CheckoutBox .InputForm .ChooseLocation {
  display: flex;
  width: 800rem;
  justify-content: space-between;
}

.PayContainer .CheckoutBox .InputForm .ChooseLocation input {
  width: 600rem;
  height: 22rem;
  border: 1rem solid #eee;
  border-radius: 5rem;
  font-size: 18rem;
  padding: 6rem 12rem;
}

.PayContainer .CheckoutBox .InputForm .ChooseLocation .Btn {
  width: 150rem;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5rem;
  cursor: pointer;
}

.PayContainer .CheckoutBox .InputForm .ChooseLocation p {
  font-size: 18rem;
  color: white;
  margin: 0;
  padding: 6rem 0;
}

.PayContainer .CheckoutBox .Title {
  font-size: 18rem;
  margin: 6rem 10rem;
}

.PayContainer .CheckoutBox .DeliveryDay {
  display: flex;
}

.PayContainer .CheckoutBox .DeliveryDay label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80rem;
  width: 80rem;
  border: 1rem solid #eee;
  margin: 10rem;
  cursor: pointer;
}

.PayContainer .CheckoutBox .DeliveryDay input[type="radio"] {
  display: none;
}

.PayContainer .CheckoutBox .DeliveryDay input[type="radio"]:checked + label {
  border-color: #ff0000;
}

.PayContainer .CheckoutBox .DeliveryDay label p {
  font-size: 15rem;
  margin: 0;
}

.PayContainer .CheckoutBox .DeliveryTime {
  display: flex;
  flex-direction: column;
}

.PayContainer .CheckoutBox .DeliveryTime .SelectForm {
  display: flex;
  margin: 5rem 10rem;
}

.PayContainer .CheckoutBox .DeliveryTime .SelectForm .Label {
  font-size: 16rem;
  font-weight: bolder;
  width: 100rem;
}

.PayContainer .CheckoutBox .DeliveryTime .SelectForm label {
  display: block;
  width: 100rem;
  height: fit-content;
  border: 1rem solid #eee;
  text-align: center;
  margin: 0 10rem;
  cursor: pointer;
}

.PayContainer .CheckoutBox .DeliveryTime .SelectForm input[type="radio"] {
  display: none;
}

.PayContainer .CheckoutBox .DeliveryTime .SelectForm input[type="radio"]:checked + label {
  border-color: #ff0000;
}

.PayContainer .CheckoutBox .DeliveryTime .SelectForm label p {
  font-size: 16rem;
}

.PayContainer .PaymentMethod {
  width: 1000rem;
  height: fit-content;
  padding: 10rem 30rem;
  background-color: white;
  margin: 10rem;
}

.PayContainer .PaymentMethod h2 {
  font-size: 20rem;
  margin: 10rem;
}

.PayContainer .PaymentMethod .Method {
  display: flex;
  flex-direction: column;
  margin: 10rem;
}

.PayContainer .PaymentMethod .Method input[type="radio"] {
  display: none;
}

.PayContainer .PaymentMethod .Method input[type="radio"]:checked + label {
  border-color: red; /* Thay đổi màu viền thành màu đỏ khi input radio được chọn */
}

.PayContainer .PaymentMethod .Method label {
  display: inline-block; /* Hiển thị nhãn như là một khối để có thể áp dụng chiều rộng và chiều cao */
  width: 280rem; /* Đặt chiều rộng của nhãn */
  height: fit-content; /* Đặt chiều cao của nhãn */
  border: 2rem solid #878c8f; /* Đặt viền đen cho nhãn */
  cursor: pointer; /* Hiển thị con trỏ tay khi di chuột qua nhãn */
  text-align: center; /* Căn giữa văn bản trong nhãn */
  line-height: 30rem; /* Căn giữa theo chiều dọc */
  padding: 18rem 10rem;
  margin: 5rem;
  border-radius: 5rem;
  font-weight: 700;
  font-size: 18rem;
  background-image: url(https://www.wealthmanagement.com/sites/wealthmanagement.com/files/styles/article_featured_retina/public/loan-money-transfer-illo-getty_1.jpg?itok=7lapOlPD);
  background-size: cover;
}

.PayContainer .PaymentMethod .Method label:first-of-type {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs6t2twryN1azSe-xlxt32Uxj6IdCAs0FecitUEAaR5EyT_0YD9KHSWHFq4aGAgr6t01c&usqp=CAU);
  background-size: cover;
}
.PayContainer .PaymentMethod .Note {
  margin: 5rem 10rem;
  align-items: start;
  width: 95%;
  font-size: 16rem;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10rem;
  padding: 5rem;
  border-color: #878c8f;
}
.PayContainer .PaymentMethod .Note:focus {
  box-shadow: 0rem 0rem 5rem 6rem rgba(153, 202, 221, 0.4);
}

.PayContainer .InvoiceField {
  width: 1040rem;
  height: fit-content;
  padding: 10rem;
  display: flex;
  align-items: center;
}

.PayContainer .InvoiceField input[type="checkbox"] {
  width: 20rem;
  height: 20rem;
}

.PayContainer .InvoiceField p {
  font-size: 18rem;
  margin: 0 10rem;
}

.PayContainer .ConfirmBox {
  width: 1000rem;
  height: fit-content;
  padding: 10rem 30rem;
  background-color: white;
  margin: 10rem;
  align-items: center;
}

.PayContainer .ConfirmBox .Infor {
  display: flex;
  width: 500rem;
  height: fit-content;
  justify-content: space-between;
  margin: 15rem 10rem;
}

.PayContainer .ConfirmBox .Infor p {
  margin: 0;
  font-size: 18rem;
  width: 200rem;
  color: #0000008a;
}
.PayContainer .ConfirmBox .Infor p:last-of-type {
  text-align: end;
}

.PayContainer .ConfirmBox .Infor .Total {
  font-size: 24rem;
  color: #ff0000;
}

.PayContainer .ConfirmBox .AcceptBox {
  display: flex;
  align-items: center;
  background-color: #fffbe1;
  width: 500rem;
  height: fit-content;
  margin: 10rem;
}

.PayContainer .ConfirmBox .AcceptBox input[type="checkbox"] {
  width: 20rem;
  height: 20rem;
  margin: 10rem;
}

.PayContainer .ConfirmBox .AcceptBox p {
  width: 450rem;
  font-size: 16rem;
}

.PayContainer .ConfirmBox .AcceptBox a {
  font-size: 16rem;
  color: red;
  text-decoration: underline;
}

.PayContainer .ConfirmBox .Btn {
  width: 400rem;
  height: fit-content;
  background-color: #ff0000;
  border-radius: 10rem;
  margin: 0 50rem;
  cursor: pointer;
}

.PayContainer .ConfirmBox .Btn p {
  color: white;
  font-size: 20rem;
  font-weight: bold;
  text-align: center;
  padding: 20rem;
}

.PayContainer .CloseBill {
  color: red;
  width: 100rem;
  height: 40rem;
  font-size: 20rem;
  font-weight: bold;
  text-align: center;
  padding: 5rem;
  background-color: #eee;
  cursor: pointer;
  position: fixed;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 101;
  border-radius: 10rem;
}
