.HotSaleContainer {
  display: flex;
  width: 100%;
  min-width: 1360rem;
  flex-direction: column;
  align-items: center;
}

.HotSaleContainer .HotSaleBanner {
  display: flex;
  justify-content: space-between;
  width: 1344rem;
  height: 60rem;
  background-image: linear-gradient(to right, #ff4500, #ffa500);
  margin: 10rem auto;
  align-items: center;
  cursor: pointer;
}

.HotSaleContainer .HotSaleBanner .CDContainer {
  display: flex;
}
.HotSaleContainer .HotSaleBanner .CDContainer ul {
  display: flex;
  padding: 0;
}

.HotSaleContainer .HotSaleBanner .CDContainer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 35rem;
  min-width: 30rem;
  min-height: 30rem;
  background-color: #ff0000;
  margin-right: 10rem;
  font-size: 18rem;
  color: white;
}

.HotSaleContainer .HotSaleBanner h3 {
  font-size: 22rem;
  color: white;
  margin: auto 10rem;
}

.HotSaleItem {
  width: 1344rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10rem;
  align-items: center;
  position: relative;
}

.Prev,
.Next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10rem;
}

.Prev {
  left: 0;
}

.Next {
  right: 0;
}
