.FooterContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 1360px;
  min-height: 200rem;
  background-color: #363636;
  position: absolute;
  bottom: 0;
  margin: 0;
  justify-content: center;
  padding-top: 10rem;
}

.FooterContainer .FooterContent {
  width: 1344rem;
  min-width: 920rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.FooterContainer .FooterContent .FooterContentSection {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 200rem;
  margin: 10rem;
  justify-content: left;
}

.FooterContainer .FooterContent .FooterContentSection .FooterInfor {
  font-size: 12rem;
  color: #ffffff;
  text-wrap: wrap;
}

.FooterContainer .FooterContent .FooterContentSection .FooterTitle {
  font-size: 12rem;
  color: #8b8b8b;
  text-wrap: wrap;
}

.FooterContainer .FooterContent .FooterContentSection .FooterLink {
  font-size: 12rem;
  color: #ffffff;
  text-wrap: wrap;
  margin-top: 20rem;
}

.FooterContainer .FooterContent .FooterContentSection .FooterPathContainer {
  display: flex;
  justify-content: left;
}

.FooterContainer .FooterContent .FooterContentSection .FooterPathContainer img {
  margin-right: 10rem;
}
