:root {
  --opacity: 1;
}

body {
  margin: 0;
  background-color:whitesmoke;
  opacity: var(--opacity);
  transition: opacity 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
